<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Música y datos</title>
        <style>
            body {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                background-color: gray;
                background-image: url("back.png");
                text-align: center;
                margin: auto;
            }
            button {
                background-color: lightblue;
                padding: 15px;
                border: 0;
                font-weight: bold;
                cursor: pointer;
                width: 100px;
            }
            #main {
                margin: auto;
                width: min-content;
                min-width: 400px;
                background-color: lightgray;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Música y datos</h1>
        <div id="main">
            {{{body}}}
        </div>
    </body>
</html>