<h2>Elegir mi canción</h2>
<h3>Contestá 10 preguntas para que elijamos la canción ideal de El Cuarteto de Nos para vos!</h3>
<h4>Recordá que ninguna es obligatoria! Y que todo es totalmente anónimo!</h4>
<form action="/" method="POST">
<label for="w1">¿Cómo la estás pasando hoy?</label>
<textarea name="w1" rows="4" cols="50"></textarea>
<label for="w2">¿Cuál es para vos un día ideal?</label>
<textarea name="w2" rows="4" cols="50"></textarea>
<label for="w3">¿Qué haces en tu tiempo libre?</label>
<textarea name="w3" rows="4" cols="50"></textarea>
<label for="w4">¿Le tenés miedo a algo? ¿A qué?</label>
<textarea name="w4" rows="4" cols="50"></textarea>
<label for="w5">¿Qué cosas te dan verguenza?</label>
<textarea name="w5" rows="4" cols="50"></textarea>
<label for="w6">¿Qué es lo que te importa cuando conocés a alguien?</label>
<textarea name="w6" rows="4" cols="50"></textarea>
<label for="w7">¿Por qué tu ídolo es tu ídolo?</label>
<textarea name="w7" rows="4" cols="50"></textarea>
<label for="w8">¿Algo más que quieras agregar? Tus gustos, preferencias, etc...</label>
<textarea name="w8" rows="4" cols="50"></textarea>
<h3>Ahora, un mini multiple choice para saber un poco más sobre vos!</h3>
<label for="w9">¿Con cuál de estas no podrías vivir?</label><br>
<input type="radio" name="w9" value="Internet">El internet y mi wifi</input><br>
<input type="radio" name="w9" value="Televisión">La TV y el futbol</input><br>
<input type="radio" name="w9" value="Radio">La radio clásica esa que sigue funcionando</input><br><br>
<label for="w10">¿Cuál de estas frases te describe mejor?</label><br>
<input type="radio" name="w10" value="pienso">Siempre intento planear todo con anticipación, me aseguro de que todo salga perfecto.</input><br>
<input type="radio" name="w10" value="hablando">Tal vez no sea el más inteligente, pero siempro estoy ahí para ayudar a todo quién me necesite</input><br>
<input type="radio" name="w10" value="complicado">Me suelo hacer muchos problemas por cosas simple, pero bue, acá estoy</input><br><br>
<input type="submit" value="Comenzar!">
</form>