<h2>Elegir mi canción</h2>
<form action="/" method="POST">
<label for="words">¿Cuáles son tus gustos? Escribílos acá separados por comas</label>
<textarea name="words" rows="4" cols="50"></textarea>
<input type="submit" value="Buscar">
</form>